In [2]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configure display settings for better readability
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid")

In [ ]:
# pip install openpyxl
# !pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [4]:
# Load FL_Dashboard files
fl_dashboard_q1 = pd.read_excel('../data/raw/FL_Dashboard_AY2009_2010_Q1.xlsx')
fl_dashboard_q2 = pd.read_excel('../data/raw/FL_Dashboard_AY2009_2010_Q2.xlsx')
fl_dashboard_q3 = pd.read_excel('../data/raw/FL_Dashboard_AY2009_2010_Q3.xls')
fl_dashboard_q4 = pd.read_excel('../data/raw/FL_Dashboard_AY2009_2010_Q4.xls')
cleaned = pd.read_excel('../data/cleaned_FFEL_data.xlsx')

# Load 1617fedschoolcodelist file
school_codes = pd.read_excel('../data/1617fedschoolcodelist.xls')

/home/freddy/Documents/Cours_efrei/Data_integration/Projets_data_integration/data_integration_student_loans/.venv/lib/python3.12/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [ ]:
print("FL dashboard q1")
display(fl_dashboard_q1.head())

In [ ]:
print("FL dashboard q3")
display(fl_dashboard_q2.head())

,2009-2010 Award Year FFEL Volume by School,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Award Year Quarterly Activity (10/01/2009-12/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Data Run: 4/5/2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,FFEL SUBSIDIZED,NaN,NaN,NaN,NaN,FFEL UNSUBSIDIZED,NaN,NaN,NaN,NaN,FFEL PARENT PLUS,NaN,NaN,NaN,NaN,FFEL GRAD PLUS,NaN,NaN,NaN,NaN
4,OPE ID,School,State,Zip Code,School Type,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements

In [ ]:
print("FL dashboard q3")
display(fl_dashboard_q3.head())

In [13]:
print("FL dashboard q4")
display(fl_dashboard_q4.head())

FL dashboard q4

,2009-2010 Award Year FFEL Volume by School,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Award Year Quarterly Activity (04/01/2010-06/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Data Run: 4/5/2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,FFEL SUBSIDIZED,NaN,NaN,NaN,NaN,FFEL UNSUBSIDIZED,NaN,NaN,NaN,NaN,FFEL PARENT PLUS,NaN,NaN,NaN,NaN,FFEL GRAD PLUS,NaN,NaN,NaN,NaN
4,OPE ID,School,State,Zip Code,School Type,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements

In [ ]:
print("School codes list")
display(cleaned.head())

School codes list

,OPE ID,School,State,Zip Code,School Type,ffel_subsidized_recipients,ffel_subsidized_number_of_loans_originated,ffel_subsidized_amount_of_loans_originated,ffel_subsidized_number_of_disbursements,ffel_subsidized_amount_of_disbursements,ffel_unsubsidized_recipients,ffel_unsubsidized_number_of_loans_originated,ffel_unsubsidized_amount_of_loans_originated,ffel_unsubsidized_number_of_disbursements,ffel_unsubsidized_amount_of_disbursements,ffel_stafford_recipients,ffel_stafford_number_of_loans_originated,ffel_stafford_amount_of_loans_originated,ffel_stafford_number_of_disbursements,ffel_stafford_amount_of_disbursements,ffel_plus_recipients,ffel_plus_number_of_loans_originated,ffel_plus_amount_of_loans_originated,ffel_plus_number_of_disbursements,ffel_plus_amount_of_disbursements,Quarter_Start,Quarter_End
0,2187500,HEALD COLLEGE,CA,945208522,PROPRIETARY,490,517,"$1,652,869.00",2338,"$2,845,221.00",474,864,"$2,327,072.00",4106,"$4,147,341.00",37,38,"$206,662.00",126,"$288,296.00",0,0,$0.00,0,$0.00,04/01/2010,06/30/2010
1,3062300,WESTECH COLLEGE,CA,917644988,PROPRIETARY,168,168,"$557,938.00",517,"$891,395.00",212,224,"$880,633.00",652,"$1,387,829.00",3,3,"$21,750.00",18,"$57,576.00",0,0,$0.00,0,$0.00,04/01/2010,06/30/2010
2,117600,WEST HILLS COMMUNITY COLLEGE,CA,932101399,PUBLIC,13,13,"$29,933.00",15,"$30,750.00",12,12,"$21,550.00",12,"$21,550.00",0,0,$0.00,1,"$3,000.00",0,0,$0.00,0,$0.00,04/01/2010,06/30/2010
3,830300,GATEWAY COMMUNITY COLLEGE,AZ,850341795,PUBLIC,186,190,"$341,240.00",333,"$421,599.00",135,135,"$350,100.00",254,"$466,288.00",0,0,$0.00,1,"$5,000.00",0,0,$0.00,0,$0.00,04/01/2010,06/30/2010
4,1218400,INTERNATIONAL ACADEMY OF HAIR DESIGN,AZ,852024887,PROPRIETARY,17,20,"$47,173.00",48,"$63,846.00",11,14,"$28,329.00",40,"$55,662.00",1,1,"$3,757.00",3,"$7,757.00",0,0,$0.00,0,$0.00,04/01/2010,06/30/2010

: